---
# tasks file for lens | Debian/Ubuntu Family

- name: Debian/Ubuntu Family | Downloading and installing {{ lens_app }} {{ lens_version }}
  ansible.builtin.apt:
    deb: "{{ lens_debian_url }}"
    state: "{{ lens_desired_state }}"
